.header {
  max-width: 1360px;
  max-height: 40px;
  display: flex;
  padding: 32px 0 28px 0;
  align-items: center;
}

.header__button {
  background-color: #f3f3f3;
  cursor: pointer;
}

.header__user_container {
  display: flex;
  align-items: center;
}

.header__authorization_container {
  display: flex;
  align-items: center;
}

.header__authorization_container a {
  text-decoration: none;
  color: black;
}

.header__logo {
  padding-right: 24px;
  max-width: 89px;
  max-height: 40px;
}

.header__button {
  border: none;
  padding-right: 20px;
}

.header__sign-up {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  text-wrap: nowrap;
  padding: 0;
}

.header__login {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__user_name {
  padding-right: 12px;
}

.header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.header__avatar_fallback {
  background-color: #808080;
  border-radius: 100px;
  align-content: center;
  text-align: center;
}
