.modal__image {
  width: 498px;
  height: 498px;
}

.modal__info {
  padding: 20px 0 32px 32px;
  display: flex;
  flex-direction: column;
}

.modal__item-name {
  margin: 0;
  margin-bottom: 12px;
}

.modal__weather-description {
  margin: 0;
}

.modal__delete-button {
  border: none;
  background-color: transparent;
  position: relative;
  color: red;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  cursor: pointer;
  align-self: end;
  margin-top: 20px;
  right: 32px;
  bottom: 68px;
}
